<%- include ("../partials/before-header.ejs")  %>
<!--her mangler class="kato-liste" på body-->
<%- include("../partials/header.ejs") %>

<section class="kategori">

</section>
<!--</section>-->

<%- include ("../partials/footer.ejs") %>


<script src="/assets/js/fetch_kategori.js"></script>
<%- include ("../partials/after-footer.ejs") %>